<!--Header bar-->
<div class="header-bar">
  <div class="empty-container"></div>
  <div class="search-container">
    <div class="main-title">{{pageTitle}}</div>
    <div class="search-attribute">
      <div class="search-label label--small mr-16">{{mainPlaceholder}}</div>
      <div>
        <mat-form-field class="form-field mr-16">
          <input matInput type="text" [(ngModel)]="searchValue">
        </mat-form-field>
      </div>
      <div>
        <button
          mat-raised-button
          color="primary"
          class="label--medium"
          (click)="onSearch($event)">
          {{searchBtnText}}
        </button>
      </div>
    </div>
  </div>
  <div class="empty-container"></div>
</div>

<!--Main Container-->
<div class="container-bar">
  <div class="empty-container"></div>
  <ng-container *ngIf="results && results.length > 0; else initialState">
    <div class="result-grid">
      <ng-container *ngFor="let result of results">
        <div class="grid-item">

          <!-- Collapsed result Card-->
          <ng-container *ngIf="detailResult?.imdbID !== result?.imdbID">
            <app-result-card
              class="app-result-card"
              [result]="result"
              (detailClick)="onDetailClick($event, result)">
            </app-result-card>
          </ng-container>
        </div>

        <!-- Expanded detail result Card-->
        <ng-container *ngIf="detailResult?.imdbID === result?.imdbID">
          <app-detail-result-card
            class="app-detail-result-card"
            [detailResult]="detailResult">
          </app-detail-result-card>
        </ng-container>
      </ng-container>
    </div>

  </ng-container>
  <ng-template #initialState>
    <!-- welcome container bar-->
    <ng-container *ngIf="!isError; else error">
      <div class="main-container primary-bg-color-dark primary-bg-color-op-l">
        <div class="contain-message label--medium">
          {{welcomeText}}
        </div>
      </div>
    </ng-container>

    <!-- Error container bar-->
    <ng-template #error>
      <div class="main-container danger-bg-color-op-l">
        <div class="contain-message label--medium danger-color">
          {{errorText}}
        </div>
      </div>
    </ng-template>
  </ng-template>
  <div class="empty-container"></div>
</div>

<!--Paginator-->
<ng-container *ngIf="results && results.length > 0">
  <mat-paginator
    class="paginator"
    [length]="totalResults"
    [pageSize]="10"
    (page)="onNextPage($event)">
  </mat-paginator>
</ng-container>
